<header class="header" role="banner">
    <div class="header__container">
        <a href="index.html" class="header__logo" aria-label="BoomBoomYellow Home">
            <span class="header__logo-text">BoomBoomYellow</span>
        </a>
        <nav class="header__nav" aria-label="Main Navigation">
            <ul class="header__nav-list">
                <li class="header__nav-item"><a href="products.html" class="header__nav-link">Products</a></li>
                <li class="header__nav-item"><a href="contact.html" class="header__nav-link">Contact</a></li>
                <li class="header__nav-item"><a href="help.html" class="header__nav-link">Help</a></li>
            </ul>
        </nav>
    </div>
</header>
